---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This creates a new Camunda cluster to which a new workflow can be deployed.

To connect a client to the cluster, use the `camunda_cluster_client` resource.

## Example Usage

{{ tffile "examples/resources/camunda_cluster/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
