---
page_title: "Provider: Camunda"
description: |-
  The Camunda provider allows to configure resources on the Camunda SaaS platform.
---

# Camunda SaaS Provider

The Camunda providers providers resources to configure clusters, clients, etc.
on the [Camunda SaaS](https://camunda.com/platform/) platform.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
